.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -125px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home {
  max-width: 1500%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  padding-inline-start: 0;
}